.product-list{
	height: 334px;
	text-align: center;
	margin-bottom: 32px;
	position: relative;
}

.desc-limit{
	overflow: hidden;
	max-height: 55px;
}

#subcategory_product_name{
    color: white;
    text-transform: uppercase;
}
