<div id="new_content">
	<div class="col-md-1"></div>
	  <div class="col-md-6">
        <h1 title="{{unfinishedAdId}}">ADD PRODUCT</h1>
        <br>
		<div id="errors"></div>
        <button type="button" class="btn btn-info" ng-click="redirect('my_ads')">
			<span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
			Back to my Ads
		</button>
		<br><br>
		<div ng-repeat="error in errors" class="alert alert-danger">
			{{error}}
		</div>
		<form class="form-horizontal" ng-submit="update_ad()">

		    <div class="form-group">
		        <label for="title" class="col-sm-2 control-label">Title</label>
		        <div class="col-sm-10">
		            <input type="text" ng-model="title" class="form-control" id="title" placeholder="Title">
		        </div>
		    </div>

		    <div class="form-group">
		        <label for="location" class="col-sm-2 control-label">Location</label>
		        <div class="col-sm-10">
		            <select class="form-control" 
		            		ng-options="location.id as location.name for location in locations"
		            		ng-model="location">
		            </select>
		        </div>
		    </div>
		    
		    <div class="form-group">
		        <label for="category" class="col-sm-2 control-label">Category</label>
		        <div class="col-sm-10">
		            <select class="form-control" 
		            		ng-change="get_sub_category(category)"
		            		ng-options="category.id as category.name for category in allCategories"
		            		ng-model="category" >
		            </select>
		        </div>
		    </div>

		    <div class="form-group">
		        <label for="subcategory" class="col-sm-2 control-label">
		        	<small>Sub Category</small>
		        </label>
		        <div class="col-sm-10">
		            <select class="form-control" 
		            		ng-options="subcategory.id as subcategory.name for subcategory in sub_categories"
		            		ng-model="subcategory">
		            </select>
		        </div>
		    </div>

		    <div class="form-group">
		        <label for="ads_type" class="col-sm-2 control-label">
		        	<small>Ads Type</small>
		        </label>
		        <div class="col-sm-10">
		            <select class="form-control" 
		            		ng-model="ads_type" 
		            		ng-options="ads_type.id as ads_type.type for ads_type in ads_types">
		            </select>
		        </div>
		    </div>

		    <div class="form-group">
		        <label for="exampleInputFile" class="col-sm-2 control-label">Product Image</label>
		        <div class="col-sm-10">
		            <h4>Upload Multiple image up to {{settings['UploadLimit']}}</h4>
					<button ngf-select="uploadFiles($files, $invalidFiles)" 
							multiple accept="image/*">
						Select Files
					</button>
					<br><br>
					Files:
					<ul>
						<li ng-repeat="f in files" style="font:smaller">
							{{f.name}} {{f.$errorParam}}
							<span class="progress" ng-show="f.progress >= 0">
								<div 	style="width:{{f.progress}}%" 
										ng-bind="f.progress + '%'">
								</div>
							</span>
						</li>
						<li ng-repeat="f in errFiles" style="font:smaller">
							{{f.name}} {{f.$error}} {{f.$errorParam}}
						</li> 
					</ul>
					{{errorMsg}}
		        </div>
		    </div>

		    <div class="form-group">
		        <label for="price" class="col-sm-2 control-label">Price</label>
		        <div class="col-sm-10">
		            <input type="text" ng-model="price" class="form-control" id="price" placeholder="Price">
		        </div>
		    </div>
		    
		    <div class="form-group">
		        <label for="desc" class="col-sm-2 control-label">Description</label>
		            <div class="col-sm-10">
		                <textarea type="text" ng-model="description" class="form-control" id="desc" placeholder="Desciption" rows="8"></textarea>
		            </div>
		    </div>
		    <div class="form-group">
		        <label for="submit" class="col-sm-2 control-label"></label>
		        <div class="col-sm-10">
		            <button type="submit"  class="btn btn-primary buttons" id="submit_button">  
		            	Save <i class="fa fa-floppy-o" aria-hidden="true"></i> 
		            </button>
		        </div>
		    </div>
		</form>
	</div>
	<div class="col-md-5">
		
		<h1 id="preview">Preview</h1>
		<br>
		<div class="product-list col-xs-9">
            <div class="panel panel-primary">
                <div class="panel-heading desc-limit">
                    <a>
                        <span id="subcategory_product_name ">
                        	{{title}}
                        </span>
                    </a>
                </div>
                <div class="panel-body">
                    <a>
                        <img ng-src="{{s_url}}{{featured_gallery.path}}" id="img_category" class="img-responsive" alt="Image">
                    </a>
                </div>
				<div id="myads_price">
					Price: {{price}}
				</div>
            	<div class="panel-footer desc-limit"><b>Description:</b> {{description}}</div>
	        </div>
	    </div>

	    <div class="clearfix"></div>
	    <br>
		<h1>
			Gallery
			<small>Select Featured Image</small>
		</h1>
		<br>
		<div class="col-sm-6" ng-repeat="gallery in galleries">
			<div class="btn-group pull-right" style="margin-bottom:-20px;">
				<button class="btn btn-danger btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-trash-o" aria-hidden="true"></i>
				</button>
				<ul class="dropdown-menu">
					<li>&nbsp &nbsp Are You Sure?</li>
    				<li role="separator" class="divider"></li>
					<li><a ng-click="remove_gallery(gallery.id)">Yes</a></li>
					<li><a>No</a></li>
				</ul>
			</div>
			<a ng-click="set_featured_image(unfinishedAdId,gallery.id)">
				<img ng-src="{{s_url}}{{gallery.path}}" class="img-thumbnail">
			</a>
			<div class="clearfix"></div>
			<br>
		</div>
	</div>	
</div>
<div class="clearfix"></div>
<br><br><br>
