.product-list-new-ad {
	height: 334px;
	text-align: center;
	margin-bottom: 50px !important;
	position: relative;
}

.desc-limit{
	overflow: hidden;
	height: 110px;
}

#subcategory_product_name{
    color: white;
    text-transform: uppercase;
}
