.per-category{
	position: relative;
	height: 196px;
	overflow: hidden;
	padding: 1px;
	margin: 0;
}
.per-category a{
	color:#fff;
}
.per-category a:hover{
	color:#fff
}
.category-img{
	height: 100% !important;
	width: 100%;
}

.black-fade{
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, 0.11);
}
.black-fade:hover {
	background-color:rgba(0, 0, 0, 0.01);
	stroke: black;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}
.category-name{
    position: absolute;
    bottom: 1px;
    left: 0px;
    color: inherit;
    font-size: 18px;
    padding: 8px 10px;
    max-width: 100%;
    display: inline-block;
		stroke: black;
		text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
		border-radius: 6px;
}
.categorynamefader {
	background-color: rgba(0, 0, 0, 0.6);
}


@media screen and (max-width: 560px) {
	.home-container{
		padding-left:0px !important;
		padding-right:0px !important;
	}
	.per-category{
		height:176px;
	}
	.category-name {
	stroke: black;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
	}
}

@media screen and (max-width: 560px) {
.category-name{
    font-size: 17px;
}
}

@media screen and (max-width: 260px) {


}