#header {
	position: fixed;
    right: 0;
    left:0;
    top: 0;
    width: 100%;
    z-index: 10;
}

a{
	cursor: pointer;
}
.banner-logo{
    width: 63px;
    float: left;
    margin-right: 10px;
}

.color_back {
	background-color: black;
	border: black;
	color: white;
}

.logo_pic {
	width: 50px;
	height: 50px;
}

.logo_pics {
	width: 100px;
	height: 100px;
}

.drop_Down {
	background-color: black;
	color: white;
	text-align: left;
	font-family: Verdana;
}

.buttons_mobile_contact_langauge {
	padding: 15px;
}
.navbar{
	background-color:#cd0232;
	z-index:21;
}
.navbar-inverse .navbar-nav > li > a {
	color:#fff !important;
}
.navbar-inverse .navbar-nav > li > a:hover {
	color:#c89090 !important;
}
.navbar-toggle {
	background-color:#cd0232;
}
.navbar-brand {
	color:#fff !important;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
	background-color:#cd0232;
}

.navbar-brand:hover {
	color:#c89090 !important;
}

#footer_button{
	background-color: black;
	height: 10%;
}

.text_footer_message {
	color: white;
}

.text_home_contact_tags {
	color: white;
}

.padding {
	padding: 2px;
}

.mobile-head-menu{
    margin-left: 15px;
    margin-top: 6px;
    margin-bottom: 4px;
    border: none;
    box-shadow: none;
}

.mobile-head-menu .icon-bar{
	height: 4px;
    border-radius: 6px;
}

.notification-bell{
	position: absolute;
	right: 7px;
    top: 4px;
}
.notification-bell .glyphicon-bell{
    color: #fff;
    font-size: 30px;
    right: 8px;
    top: 8px;
}

.notification-bell .badge{
	background-color: #e84949;
    position: absolute;
    top: 0;
    right: 0;
}
.back-arrow{
	display:none;
}
#footer {
  	background-color: #222222;
	  position: fixed;
    right: 0;
    left:0;
    bottom: 0;
    padding-top: 0px;
    height: 66px;
    width: 100%;
    z-index: 15;
    cursor:pointer;
		display:block;
}
#footer .active {
    color: #fff;
    background-color: #cd0232;
    border-bottom-width:0px;
}
#footer a{
		display:block;
		padding: 13px 0 13px 0;
		color: #fff;
		font-size: 17px;
		text-align:center;
}
#footer a:hover{
	background-color: rgba(205, 2, 50, 0.2);
}
.sidenav{
	display:none;
}
#footer-mobile {
	display:none;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@media screen and (max-width: 768px) {
	.back-arrow {
		display:block;
		width:50px;
		height:50px;
		position:fixed;
		top:8px;
		right:35px;
		font-size:30px;
		color: #fff;
	}
	.back-arrow a{
		color: #fff;
	}
	.sidenav::-webkit-scrollbar { 
    display: none; 
 	}
	.sidenav {
		display:block;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 111;
    top: 50px;
    bottom: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.95);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
	}

	.sidenav a {
    padding:2px 0px 2px 0px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    display: block;
    transition: 0.3s;
		white-space: nowrap;
		border:1px solid rgba(255, 255, 255, 0.09);
	}
	.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
		background-color:rgba(241, 241, 241, 0.2);
	}
	.activenav{
		width:210px;
	}
	.normalnav {
		width:0px;
	}
	.alignleft{
		text-align: left;
		list-style:none;
		margin-left:-40px;
	}
	.alignleft>li>a{
		padding-left:20px;
		
	}
	#footer-mobile {
  	background-color: #222222;
	  position: fixed;
    right: 0;
    left:0;
    bottom: 0;
    padding-top: 0px;
    height: 66px;
    width: 100%;
    z-index: 15;
    cursor:pointer;
		display:block;
	}
	#footer-mobile .active {
    color: #fff;
    background-color: #cd0232;
    border-bottom-width:0px;
	}
	#footer-mobile a{
		display:block;
		padding: 13px 0 13px 0;
		color: #fff;
		font-size: 17px;
		text-align:center;
	}
	#footer {
		display:none;
	}
	.activeNavbtn {
		background-color:rgba(51, 51, 51, 0.9) !important;
	}
	.nav-category {
		margin: 0 0 0 -40px;
		padding:0px 0px 0px 60px;
	}
	.nav-category a {
		margin: 0 0 0 -20px;
		padding:10px 0 10px 0px;
		font-size:11px;
		max-height:100%;
	}
	.nav-category-title{
		margin:0 0 0 0;
		padding:30px 0 10px 0;
		color:#fff;
		text-align:left;
		font-size:12px;
	}
}